<!DOCTYPE html>
<html>
<head>
    <title>No Errors Test</title>
    <style>
        body { font-family: Arial; }
        .header { color: blue; }
    </style>
</head>
<body>

<h1>Hello {{ name }}</h1>
<p>Age: {{ age }}</p>


<p>{{ name|upper }}</p>
<p>{{ name|lower }}</p>


{% for product in products %}
<li>{{ product }}</li>
{% endfor %}


{% macro greeting(person) %}
Hello {{ person }}!
{% endmacro %}

{{ greeting(name) }}


{% set welcome = "Welcome" %}
<p>{{ welcome }}</p>


{% if age > 18 %}
<p>Adult</p>
{% endif %}
</body>
</html>